.c-form__icon-container {
    position: absolute;
    top:    50%;
    right:    0;
    z-index:  5;
    width:  40px;
    height: auto;

    &.is-visible {
        .c-form__icon_visible {
            visibility: hidden;
            opacity: 0;
        }

        .c-form__icon_hidden {
            visibility: visible;
            opacity: 1;
        }
    }
}
