/* ===============
   Main file 
   =============== */

@import 'var/var';
@import 'mixins/mixins';
@import 'utilities/utilities';
@import 'component/component';
@import 'page/page';
@import 'shame/shame';

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem; /* base font-size is equivalent "14px" */
    color: color(white);
    background-color: color(black);
    font-family: $font--regular;
}
