/* ===============
   Text
   =============== */
   
.c-text {
    color: $color_grey_dark;
    font-size: $font_s;
    line-height: 24px;

    &.c-text--staticForm {
        color: $color_black;
        font-size: $font_m;
        line-height: 1;
    }
}