.c-form__help {
    display: inline-block;
    position: relative;
    z-index: 1;
    margin-bottom: $space_xxs;
    margin-left: $space_xxs;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background-color: $color_grey;
    color: $color_white;
    vertical-align: middle;
    text-align: center;
    line-height: 18px;
    font-size: $font_xs;
    font-family: $font--bold;

    .fa {
        color: $color_white;
        font-size: 11px;
    }
}

.c-form__help--float {
    @include translate--y;
    position: absolute;
    margin-bottom: 0;
    margin-left: 0;
    top: 50%;
    right: $space_xs;
}