/*doc
---
title: Static
name: Static
category: Form
---

```html_example
<div class="c-form__line mb30">
    <div class="c-form__labelContainer">
        <label for="" class="c-form__label">Project leader</label>
    </div>  
    <div class="c-text c-text--staticForm">
        John Doe
    </div>
</div>
```

*/
