.c-form__info--error{
    margin-top: 5px;
    color: $color_red;
    display: none;
    vertical-align: middle;

    .c-form__textError {
        position: relative;
        display: inline-block;
        top: -2px;
    }
    .c-form__iconError {
        position: relative;
        display: inline-block;
        margin-right: 10px;
    }
}
