.d-flex {display: flex;}

.justify-center {justify-content: center;}
.justify-start {justify-content: start;}
.justify-end {justify-content: end;}

.align-center {align-items: center;}
.align-start {align-items: flex-start;}
.align-end {align-items: flex-end;}