/* ===============
   Margins 
   =============== */

   @each $theBreakpoint in map-keys($breakpoints) {
    @include breakpoint($theBreakpoint) {

        $theAbbrev : map-get($breakpoints--abbrev, $theBreakpoint);

        @each $size, $length in $spacers {
            .mb#{$theAbbrev}-#{$size} { 
                margin-bottom: #{$length}!important
            }
            .mt#{$theAbbrev}-#{$size} { 
                margin-top: #{$length}!important
            }
            .mr#{$theAbbrev}-#{$size} { 
                margin-right: #{$length}!important
            }
            .ml#{$theAbbrev}-#{$size} { 
                margin-left: #{$length}!important;
            }
            .my#{$theAbbrev}-#{$size} { 
                margin-top: #{$length}!important;
                margin-bottom: #{$length}!important
            }
            .mx#{$theAbbrev}-#{$size} { 
                margin-left: #{$length}!important;
                margin-right: #{$length}!important;
            }
        }

        .my-auto {
            margin-left: auto !important;
            margin-right: auto !important;
        }
        .mx-auto {
            margin-top: auto !important;
            margin-bottom: auto !important;
        }

    }
}
