.c-form__input--size-xs {
    &#{&} {
        max-width: 90px;
    }
}

.c-form__input--size-s {
    &#{&} {
        max-width: 150px;
    }
}

.c-form__input--size-m {
    &#{&} {
        max-width: 240px;
    }
}

.c-form__input--size-l {
    &#{&} {
        max-width: 300px;
    }
}