/* ===============
   Font location
   =============== */

@font-face {
    font-family: 'comfortaabold';
    src: url('assets/fonts/comfortaa-bold-webfont.woff2') format('woff2'),
         url('assets/fonts/comfortaa-bold-webfont.woff')  format('woff');
    font-weight: normal;
    font-style:  normal;
}

@font-face {
    font-family: 'comfortaalight';
    src: url('assets/fonts/comfortaa-light-webfont.woff2') format('woff2'),
         url('assets/fonts/comfortaa-light-webfont.woff')  format('woff');
    font-weight: normal;
    font-style:  normal;
}

@font-face {
    font-family: 'comfortaaregular';
    src: url('assets/fonts/comfortaa-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/comfortaa-regular-webfont.woff')  format('woff');
    font-weight: normal;
    font-style:  normal;
}




