/* ===============
   Font Face
   =============== */

@font-face {
    font-family: 'MyWebFont';
    src: url('assets/fonts/webfont.eot'); /* IE9 Compat Modes */
    src: url('assets/fonts/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/fonts/webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('assets/fonts/webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('assets/fonts/webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('assets/fonts/webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

// @mixin font-face($font-name, $file-name, $weight: normal, $style: normal) { 
//     @font-face {
//       font-family: quote($font-name);
//       src: url($file-name + '.eot');
//       src: url($file-name + '.eot?#iefix')  format('embedded-opentype'),
//            url($file-name + '.woff') format('woff'),
//            url($file-name + '.ttf')  format('truetype'),
//            url($file-name + '.svg##{$font-name}')  format('svg');
//       font-weight: $weight;
//       font-style:  $style;
//     }
//    }

//   @include font-face('gotham', '/fonts/gotham');