/*doc
---
title: Link
name: Link
category: Components
---

```html_example
<a href="#" class="c-link">Create a new project</a>
```
```html_example
<a href="#" class="c-link c-link--footer">Create a new project</a>
```
```html_example
<div style="padding:15px;background-color:#1691ff;">
    <a href="#" class="c-link c-link--white">Create a new project</a>
</div>
```

*/

.c-link {
    @include transition;
    color: $color_blue;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        color: $color_blue_shady;
    }

    &.c-link--white {
        color: $color_white;

        &:hover {
            color: $color_grey_light;
        }
    }

    &.c-link--footer,
    &.c-link--grey {
        color: $color_grey_dark;
        text-decoration: none;

        &:hover {
            color: $color_blue;
            text-decoration: underline;
        }
    }
}