/* ===============
   Font var
   =============== */

$font--light:   'comfortaalight';
$font--regular: 'comfortaaregular';
$font--bold:    'comfortaabold';



/* ===============
    Font size
    =============== */


$font--base   :  1rem;
$font--sizes: (
  0: 0,
  1: ($font--base * .25),
  2: ($font--base * .5),
  3: $font--base,
  4: ($font--base * 1.5),
  5: ($font--base * 3)
) !default;

html {
    font-size: 62.5%;
    @include font(1.6);
}

