/* ===============
    Font face
    =============== */

@font-face {
  font-family: 'Work Sans';
  src: url('../../fonts/WorkSans-Medium.woff2') format('woff2'),
      url('../../fonts/WorkSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}



/* ===============
   Font var
   =============== */

$font--light:   'Work Sans';
$font--regular: 'Work Sans';
$font--bold:    'Work Sans';



/* ===============
    Font size
    =============== */

$font--base   :  1rem;
$font--sizes: (
  0: 0,
  1: ($font--base * .25),
  2: ($font--base * .5),
  3:  $font--base,
  4: ($font--base * 1.5),
  5: ($font--base * 3)
) !default;
