/* ===============
    Font face
    =============== */

@font-face {
  font-family: 'Work Sans Regular';
  src: url('../../fonts/WorkSans-Regular.woff2') format('woff2'),
      url('../../fonts/WorkSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans Medum';
  src: url('../../fonts/WorkSans-Medium.woff2') format('woff2'),
      url('../../fonts/WorkSans-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}





/* ===============
   Font var
   =============== */

$font--light:   'Work Sans Regular';
$font--regular: 'Work Sans Regular';
$font--bold:    'Work Sans Medium';



/* ===============
    Font size
    =============== */


$font--sizes: (
  14: 1.4rem,
  16: 1.6rem,
  20: 2rem,
  26: 2.6rem,
  32: 3.2rem
) !default;
