/*--------------------
COLOR
--------------------*/

.u-color--black{color: $color_black;}
.u-color--grey-shady{color: $color_grey_shady;}
.u-color--blue{color: $color_blue;}
.u-color--white{color: $color_white;}

.u-color--pinterest{color: $color_pinterest;}
.u-color--instagram{color: $color_instagram;}