/*doc
---
title: Step
name: Step
category: Components
---

```html_example
<nav class="c-step">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-auto">
                <a href="#" class="c-step__item c-step__item--active c-link">
                    Identification
                </a>
            </div>
            <div class="col-auto">
                <div class="c-step__bar"></div>
            </div>
            <div class="col-auto">
                <a href="#" class="c-step__item c-link c-link--grey">
                    Leader
                </a>
            </div>
            <div class="col-auto">
                <div class="c-step__bar"></div>
            </div>
            <div class="col-auto">
                <a href="#" class="c-step__item c-link c-link--grey">
                    Team
                </a>
            </div>
            <div class="col-auto">
                <div class="c-step__bar"></div>
            </div>
            <div class="col-auto">
                <a href="#" class="c-step__item c-link c-link--grey">
                    Description
                </a>
            </div>
            <div class="col-auto">
                <div class="c-step__bar"></div>
            </div>
            <div class="col-auto">
                <a href="#" class="c-step__item c-link c-link--grey">
                    Compliance criteria
                </a>
            </div>
        </div>
    </div>
</nav>
```

*/

.c-step {
    padding: 45px 0;

    .c-step__item {
        position: relative;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }

        &.c-step__item--active {
            color: $color_blue;

            &:after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: -10px;
                margin: 0 auto;
                width: 5px;
                height: 5px;
                background-color: $color_blue;
                border-radius: 100%;
            }
        }
    }

    .c-step__bar {
        width: 30px;
        height: 2px;
        background-color: $color_grey;
        border-radius: 4px;
    }
}