/*doc
---
title: Title
name: Title
category: Components
---

```html_example
<div class="c-title">Title default</div>
```
```html_example
<div class="c-title c-title--xxl">Title XXL</div>
```
```html_example
<div class="c-title c-title--xl">Title XL</div>
```
```html_example
<div class="c-title c-title--l">Title L</div>
```
```html_example
<div class="c-title c-title--s">Title S</div>
```

*/

.c-title {
    font-family: $font--bold;
    font-size: 24px;

    &.c-title--s {
        font-size: 20px;
    }

    &.c-title--l {
        font-size: 32px;
    }

    &.c-title--xl {
        font-size: 48px;
    }

    &.c-title--xxl {
        font-size: 48px;
        @include breakpoint(medium) { 
            font-size: 64px;
        }
    }
}