/*doc
---
title: Error
name: Error
category: Form
---

```html_example
<div class="c-form__line c-form__line--error">
    <div class="c-form__labelContainer">
        <label for="dsqdsqhlk" class="c-form__label">Team member name</label>
    </div>  
    <div class="c-form__field">
        <input id="dsqdsqhlk" type="text" class="c-form__input">
    </div>
    <div class="c-form__info c-form__info--error">
        <img class="c-form__iconError" src="styles/assets/images/icons/alert.svg" alt=""><span>Une erreur est survenue</span>
    </div>
</div>
```

*/

.c-form__line--error{
	&#{&} {
		.c-form__input {
		    border:1px solid $color_red;
		}

		.c-form__info--error{
			display: block;
		}
	}
}
