/*doc
---
title: Comment
name: Comment
category: Components
---

```html_example
<div class="c-comment">
    <div class="c-comment__header">
        <div class="c-comment__picture">

        </div>
        <div>
            <div class="c-comment__name">Clément Dixon</div>
            <div class="c-comment__job">Finance</div>
        </div>
    </div>
    <div class="c-comment__title">Datagraph</div>
    <div class="c-comment__text">‘‘ With this program Plastic Omnium give me the chance to build an entrepreneur career. ’’</div>
</div>
```

*/

.c-comment {
    position: relative;
    padding: $space_m;
    border-radius: 4px;
    color: $color_white;
    background-image: url('assets/images/pexel.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-bottom: 15px;

    @include breakpoint(medium) { 
        margin-bottom: 30px;
    }

    &:after {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.6);
    }

    .c-comment__header,
    .c-comment__title,
    .c-comment__text {
        position: relative;
        z-index: 2;
    }

    .c-comment__header {
        @include flexbox;
        align-items: center;
        margin-bottom: 30px;
    }

    .c-comment__picture {
        width: 60px;
        height: 60px;
        margin-right: 15px;
        background-color: $color_white;
        border: 1px solid $color_white;
        border-radius: 100%;
        background-image: url('assets/images/user.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .c-comment__name {
        margin-bottom: 5px;
        font-family: $font--bold;
        font-size: $font_m;
    }

    .c-comment__job {
        color: $color_grey_bright;
    }

    .c-comment__title {
        margin-bottom: $space_s;
        font-family: $font--bold;
        font-size: $font_xl;
    }

    .c-comment__text {
        line-height: 24px;
        color: $color_grey_bright;
    }
}