/*doc
---
title: Text
name: Text
category: Form
---

```html_example
<div class="c-form__line">
    <div class="c-form__labelContainer">
        <label for="dsqdko" class="c-form__label">Team member name</label>
    </div>  
    <div class="c-form__field">
        <input id="dsqdko" type="text" class="c-form__input">
    </div>
    <div class="c-form__info c-form__info--error">
        <img class="c-form__iconError" src="styles/assets/images/icons/alert.svg" alt=""><span>Une erreur est survenue</span>
    </div>
</div>
```

*/


.c-form__input {
    /* 
    .timepicker must be delete in the futur.
    The specificity &#{&} must be delete in the futur.
    */

    &#{&} {
        @include transition(all,0, ease-in, 0);

        display: block;
        position: relative;
        margin: 0;
        outline: none;
        background-color: $color_grey_dazzling;
        border: 1px solid $color_grey_shady;
        border-radius: 4px;
        padding: 0 10px;
        width: 100%;
        height: 42px;
        line-height: normal;
        color: $color_black;
        font-size: $font_m;
        font-family: $font--regular;

        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        

        &::-webkit-input-placeholder {
            opacity: 1;
            color: $color_grey;
        }

        &:-ms-input-placeholder {
            opacity: 1;
            color: $color_grey;
        }

        &:-moz-placeholder {
            opacity: 1;
            color: $color_grey;
        }

        &:hover {
            border: 1px solid $color_grey_shady;
        }

        &:focus,
        &:active {
            @include box--shadow('none');
            outline: none;
            border: 1px solid $color_blue;
            background-color: $color_white;
        }
    }
}

// Fix inputNumber
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance:textfield;
}

