.c-form__label{
    display: inline-block;
    width: auto;
    min-height : 20px;
    margin:0 0 5px 0;
    color: $color_grey_dark;
    font-size: $font_s;
    font-weight: normal;
    font-family: $font--bold;
}
