/* ===============
    Component button
    =============== */

.c-btn {
    @include box--shadow;
    @include transition;

    position: relative;
    display: inline-block;
    border: 0;
    cursor: pointer;
    padding: 0 $space_m;
    border-radius: 40px;

    width: auto;
    height: 50px;

    text-align: center;
    text-decoration: none;
    line-height: 50px;
    color: $color_white;
    font-size: $font_s;
    font-family: $font--regular;

    white-space: nowrap;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover {
        @include translate--y(1px);
        @include box--shadow('hover');
    }

    &:active,
    &:focus {
        @include box--shadow('active');
        text-decoration: none;
    }

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }
}


/*--------------------
ELEMENT
--------------------*/

@import '__icon/btn__icon';



/*--------------------
MODIFIER
--------------------*/

@import '__icon/_left/btn__icon_left';
@import '__icon/_right/btn__icon_right';
@import '_color/btn_color';
@import '_loading/btn_is-loading';
@import '_disabled/btn_is-disabled';

@import '--size/btn--size';


