/* ===============
    Component button
    =============== */

.c-btn {
    @include shadow;
    @include transition;

    position: relative;
    display: inline-block;
    border: 0;
    cursor: pointer;
    padding: 0 24px;
    border-radius: 40px;

    width: auto;
    height: 50px;

    text-align: center;
    text-decoration: none;
    line-height: 50px;
    color: #fff;
    font-size: 1.4rem;
    font-family: $font--regular;

    white-space: nowrap;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover {
        @include translate--y(1px);
        @include shadow('hover');
    }

    &:active,
    &:focus {
        @include shadow('active');
        text-decoration: none;
    }

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }
}


/*--------------------
ELEMENT
--------------------*/

//@import '__icon/btn__icon';



/*--------------------
MODIFIER
--------------------*/


@import '_loading/btn_is-loading';
@import '_disabled/btn_is-disabled';

@import '--size/btn--size';


