.c-form__icon {
    @include translate_y;
    position: absolute;
    top:    50%;
    right:  0;
    left:   0;
    margin: 0 auto;
    cursor: pointer;

    .c-form__iconHelp {
        display: block;
        width: 18px;
        height: 18px;
    }
}
